In [1]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup

In [ ]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [ ]:
url = 'https://www.yelp.com/search?find_desc=&find_loc=East+Harlem%2C+Manhattan%2C+NY&ns=1'
browser.visit(url)

In [ ]:
price_ranges=[]
for x in range(1, 12):

    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    price_levels = soup.\
        find_all('span',class_="lemon--span__373c0__3997G text__373c0__3s1FV priceRange__373c0__2DY87 text-color--normal__373c0__VIFNO text-align--left__373c0__fEFN5 text-bullet--after__373c0__3YzzC")

    
    for price_level in price_levels:
        print('page:', x, '-------------')
        print(price_level.text)
        price_ranges.append(price_level.text)

    
    #browser.find_by_text("Next").first.click()
    try:
        browser.click_link_by_partial_text('Next')
          
    except:
        print("Scraping Paused")

In [ ]:
len(price_ranges)

In [2]:
# Name of the CSV file for airbnb.  This is a version I cleaned in Excel.  I could clean the original in pandas instead.
file = 'data/AB_NYC_2019_v3.csv'

In [3]:
# The correct encoding must be used to read the CSV in pandas
df = pd.read_csv(file, encoding="ISO-8859-1")

In [4]:
# Preview of the DataFrame
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,10/19/2018,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,5/21/2019,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,7/5/2019,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,11/19/2018,0.10,1,0

In [ ]:
# Example of replacing text in pandas.  
# Clean up name. Replace ',' and '''''' and '""' and "@" with ''
#df['name'] = df['name'].replace(
#    {',': '', '''''': '', '""': '', '@': ''})